<main class="main">
    <div class="container w-25 mt-5 border p-5 shadow">
        <form action="/bebida/{{data._id}}?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT" />
            <div class="form-group mb-3">
                <h3 class="text-center font-weight-bold">EDITAR PRODUCTO</h3>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Nombre:</label>
                <input class="form-control" type="text" name="nombre" placeholder="Ingrese nombre"
                    value="{{data.nombre}}" required autofocus>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Precio:</label>
                <input class="form-control" type="text" name="precio" placeholder="Ingrese precio"
                    value="{{data.precio}}" required>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Cantidad:</label>
                <input class="form-control" type="number" name="cantidad" placeholder="Ingrese cantidad"
                    value="{{data.cantidad}}" required>
            </div>
            <div class="form-group text-center">
                <a href="/bebida" type="button" class="btn btn-danger">CANCELAR</a>
                <button type="submit" class="btn btn-success">ACTUALIZAR</button>
            </div>
        </form>
    </div>
</main>