<main class="main">
    <div class="container w-25 mt-5 border p-5 shadow">
        <form action="/localidad/{{data._id}}?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <div class="form-group mb-3">
                <h3 class="text-center font-weight-bold">EDITAR LOCALIDAD</h3>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Nombre:</label>
                <input class="form-control" type="text" name="nombre" placeholder="Ingrese nombre"
                    value="{{data.nombre}}" required autofocus>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Número de mesa:</label>
                <input class="form-control" type="number" name="numero" placeholder="Ingrese numero"
                    value="{{data.numero}}" required>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Precio:</label>
                <input class="form-control" type="float" name="precio" placeholder="Ingrese precio"
                    value="{{data.precio}}" required>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Descripción:</label>
                <textarea class="form-control" rows="4" type="text" name="descripcion" placeholder="Ingrese descripcion"
                    >{{data.descripcion}}</textarea>
            </div>
            <div class="form-group text-center">
                <a href="/localidad" type="button" class="btn btn-danger">CANCELAR</a>
                <button type="submit" class="btn btn-success">ACTUALIZAR</button>
            </div>
        </form>
    </div>
</main>