<main class="main">
    <div class="container w-25 mt-5 border p-5 shadow">
        <form action="/combo/{{data._id}}?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT" />
            <div class="form-group mb-3">
                <h3 class="text-center font-weight-bold">EDITAR COMBO</h3>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Nombre:</label>
                <input class="form-control" type="text" name="nombre" placeholder="Ingrese nombre"
                    value="{{data.nombre}}" required autofocus>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Tipo de zona:</label>
                <input class="form-control" type="text" name="zona" placeholder="Ingrese zona"
                    value="{{data.zona}}" required>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Precio:</label>
                <input class="form-control" type="text" name="precio" placeholder="Ingrese precio"
                    value="{{data.precio}}" required>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Descripción:</label>
                <textarea class="form-control" rows="4" type="text" name="descripcion" placeholder="Ingrese descripción"
                    required>{{data.descripcion}}</textarea>
            </div>
            <div class="form-group text-center">
                <a href="/combo" type="button" class="btn btn-danger">CANCELAR</a>
                <button type="submit" class="btn btn-success">ACTUALIZAR</button>
            </div>
        </form>
    </div>
</main>