<form class="modal fade" id="exampleModal-localidad" tabindex="-1" aria-hidden="true" method="POST" action="/localidad">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title ">INGRESAR LOCALIDAD</h5>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <input class="form-control" type="text" name="nombre" placeholder="Ingresar nombre"
                        value="{{nombre}}" required autofocus>
                </div>
                <div class="mb-3">
                    <input class="form-control" type="number" name="numero" placeholder="Ingresar número de mesa"
                        value="{{numero}}" required>
                </div>
                <div class="mb-3">
                    <input class="form-control" type="text" name="precio" placeholder="Ingresar precio"
                        value="{{precio}}" required>
                </div>
                <div class="mb-3">
                    <textarea class="form-control" cols="2" type="text" name="descripcion" placeholder="Ingresar descripción"
                        value="{{descripcion}}"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">CANCELAR</button>
                <button type="submit" class="btn btn-success">GUARDAR</button>
            </div>
        </div>
    </div>
</form>