<form class="modal fade" id="exampleModalCombo" tabindex="-1" aria-hidden="true"
    method="POST" action="/combo">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title ">INGRESAR COMBO</h5>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <input class="form-control" type="text" name="nombre" placeholder="Ingresar nombre"
                        value="{{nombre}}" required autofocus>
                </div>
                 <div class="mb-3">
                    <input class="form-control" type="text" name="zona" placeholder="Ingresar tipo de zona" value="{{zona}}" required>
                </div>
                <div class="mb-3">
                    <input class="form-control" type="text" name="precio" placeholder="Ingresar precio" value="{{precio}}" required>
                </div>
                <div class="mb-3">
                    <textarea class="form-control" rows="3" type="textarea" name="descripcion" placeholder="Ingresar descripción" value="{{descripcion}}"
                        required></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">CANCELAR</button>
                <button type="submit" class="btn btn-success">GUARDAR</button>
            </div>
        </div>
    </div>
</form>