<a class="w-25" href="/"><img src="/images/ico-menu.png" alt="logo-ova-club"></a>

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link text-light" href="/">Inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="/bebida">Bebidas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="/localidad">Localidades</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="/combo">Combos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="/contacto">Contactanos</a>
    </li>
</ul>