<table class="table table-hover" id="myTables" class="tablesorter">
    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>TIPO DE ZONA</th>
            <th>PRECIO</th>
            <th>DESCRIPCIÓN</th>
            <th class="text-center" width="15%">ACCIONES</th>
        </tr>
    </thead>
    <tbody id="myTable">
        {{#each combos.data }}
        <tr>
            <td class="pt-3">{{ nombre }}</td>
            <td class="pt-3 text-uppercase">{{ zona }}</td>
            <td class="pt-3">$ {{ precio }}</td>
            <td class="pt-3">{{ descripcion }}</td>
            <td class="d-flex justify-content-around">
                <a href="/combo/{{_id}}" class="btn btn-secondary">Editar</a>
                <form action="/combo/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger mr-0" type="button">
                        Eliminar
                    </button>
                </form>
            </td>
        </tr>
        {{/each }}
    </tbody>
</table>