<main class="main">
    <div class="container">
        <h2 class="title text-light p-3">COMBOS</h2>
        <div class="d-flex justify-content-between mb-3">
            <div class="input-group w-25">
                <div class="input-group-text strong ">BUSCAR COMBO</div>
                <input type="text" id="filtrar" class="form-control" autofocus>
            </div>
            <button class="btn btn-success p-2" type="button" data-bs-toggle="modal"
                data-bs-target="#exampleModalCombo">Ingresar
                combo</button>
        </div>

        {{> table-combo}}

    </div>
</main>

{{> form-insert-combo}}