<main class="main">

    <div class="container mt-5">
        <div class="row">
            <div class="form-group col-md-3 col-lg-3">
                <h2 class="text-center mb-3">Whatsapp</h2>
                <img class="img-thumbnail" src="images/qr.jpeg" alt="qr whatsapp">
            </div>
            <div class="form-group col-md-4 col-lg-4">
                <h2 class="text-center mb-3">Comunicate con nosotros</h2>
                <form class="shadow border p-3">
                    <div class="form-group mb-4">
                        <label>Nombre:</label>
                        <input type="text" class="form-control" placeholder="Ingrese nombre">
                    </div>
                    <div class="form-group mb-4">
                        <label>Correo:</label>
                        <input type="email" class="form-control" placeholder="Ingrese correo eletrónico">
                    </div>
                    <div class="form-group mb-4">
                        <label>Mensaje:</label>
                        <textarea type="text" class="form-control" rows="3" placeholder="Ingrese mensaje"></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <button type="button" class="btn btn-primary btn-block">Enviar</button>
                    </div>
                </form>
            </div>
            <div class="form-group col-md-5 col-lg-5">
                <h2 class="text-center mb-3">Como llegar</h2>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1633.393075987802!2d-80.6732910404158!3d-1.0807665323579703!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902bfaff0f75f015%3A0xe8182147348af056!2sMuebleria%20Don%20Mero!5e0!3m2!1ses!2sec!4v1597533129745!5m2!1ses!2sec"
                    width="100%" height="400" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
        </div>
    </div>
</main>