<section class="home">
    <div class="principal">
        <h1>OVA CLUB</h1>
        <p>La mejor experiencia en diversión, música y sonido para disfrutar con amigos</p>
        <section class="section">
            <img src="images/home/1.jpeg" alt="localidades free">
            <img src="images/home/2.jpeg" alt="localidades vip">
            <img src="images/home/3.jpeg" alt="bebidas">
            <img src="images/home/4.jpeg" alt="mesa">
            <img src="images/home/5.jpeg" alt="zona de baile">
            <img src="images/home/6.jpeg" alt="bar">
        </section>
    </div>
</section>