<main class="main">
    <div class="container">
        <h2 class="title text-light p-3">Localidad</h2>
        <div class="d-flex justify-content-between mb-3">
            <div class="input-group w-25">
                <div class="input-group-text strong ">BUSCAR LOCALIDAD</div>
                <input type="text" id="filtrar" class="form-control" autofocus>
            </div>
            <button class="btn btn-success p-2" type="button" data-bs-toggle="modal"
                data-bs-target="#exampleModal-localidad">Ingresar
                localidad</button>
        </div>

        {{> table-localidad}}

    </div>
</main>

{{> form-insert-localidad}}